fastapi~=0.103.1
uvicorn~=0.23.2
sqlalchemy~=2.0.23
psycopg2-binary
passlib~=1.7.4
python-jose
python-multipart
gunicorn
supabase~=2.2.1
PyJWT==2.8.0
cryptography
asyncio
pandas~=2.1.1
scikit-learn~=1.3.2
pydantic~=2.3.0
joblib~=1.3.2
bcrypt==4.0.1
resend~=0.6.0
