fastapi
uvicorn
sqlalchemy
psycopg2-binary
passlib
python-jose
python-multipart
gunicorn
supabase
PyJWT
bcrypt
cryptography
jwt
asyncio
torch
bert-extractive-summarizer
pandas
sklearn
pydantic
scikit-learn
joblib